doctype html
head
  link(rel="stylesheet", href="https://headlines.tristenallen.com/style.css")
  title= title
body
  div
    h1= message
  div.footer
    p Website copyright 2018 
      a(href="http://tristenallen.com") Tristen Allen
      |  | 
      a(href="http://github.com/spyboticsguy/rab-markov") Source Code